@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Cooper';
    src: url('../fonts/cooper.otf');
}

@font-face {
    font-family: 'Forma';
    src: url('../fonts/forma.otf');
}

@font-face {
    font-family: 'Capitolina';
    src: url('../fonts/capitolina.otf');
}

@font-face {
    font-family: 'Brush Script';
    src: url('../fonts/brush-script.otf');
}

:root {
    --font: 'Cooper';
}

body {
    font-family: 'Inter', sans-serif;
}

.hero-text .word {
    transform: translateY(75px);
    opacity: 0;
}